<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {{>partials/header}}
    <main>
        <hr />
        <fieldset>
            <legend>Novo Usuário</legend>
            <form method="POST" action="/novousuario">
                <input type="text" name="name" placeholder="Digite um nome" /> <br/> <br/>
                <input type="text" name="age" placeholder="Digite uma idade" /> <br/><br/>
                <input type="submit" value="Inserir Usuário">
            </form>
        </fieldset>
        <hr />
        <h2>Usuarios do banco</h2>
        <ul>
            {{#users}}
            <li>{{name}} - Idade: {{age}}</li>
            {{/users}}
        </ul>
        <hr />
    </main>
    {{>partials/footer}}

</body>

</html>